* {
    margin: 0;
}

html {
    overflow-x: hidden;
}

body{
    font-family: 'helvetica', monospace;
}

/* ---------------------------------- HEADER -----------------------------*/
header > .container {
    background-color: #3F3F37;
    padding: 0 10vw ;
    max-height: 15vh;
    max-width: 100%;
}

.img-thumbnail {
    background-color: transparent;
    border-style: none;
    max-width: 60%;
    max-height: 15vh;
    min-width: 12vw;
    min-height: 10vh;
}

/* ----------------------------- GENERAL PAGE ----------------------------*/
.container {
    height: auto;
    max-width: 65vw;
    min-width: 65vw;
    margin: 0 auto;
    position: relative;
}
/* --------------------------------- DETAIL PAGINA -----------------------*/
.container-detail {
    max-width: 35vw;
    height: auto;
    position: relative;
}

.container-detailbieden {
    max-width: 18vw;
    max-height: 100vh;
}

/* -- CAROUSEL -- */

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}

.carousel img {
    max-width: 60vw;
    max-height: 60vh;
}


/* ------------------------------- OVERZICHT ---------------------------*/
.col-sm-img{
    max-height: 40vh;
    max-width: 40vw;
}

/*----------------------------------------- LOGO -------------------------*/
#logo-img{
    max-width: 160px;
    max-height: 70px;
}

/* ---------------------------------------- FOOTER -----------------------*/
footer > .container{
    background-color: #3F3F37;
    width: 100%;
}

h3#Foot {
    white-space: pre;
    font-size: 1.3em;
    color: #87B04E;
}
