* {
    margin: 0;
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'helvetica', monospace;
}

li {
    list-style: none;
}

/* ---------------------------------- HEADER -----------------------------*/
header > .container {
    background-color: #3F3F37;
    padding: 0 10vw;
    max-height: 15vh;
    max-width: 100%;
}

.img-thumbnail {
    background-color: transparent;
    border-style: none;
    max-width: 15vw;
    max-height: 15vh;
    min-width: 12vw;
    min-height: 10vh;
}

.menu-item {
    max-width: 5vw;
    max-height: 4vh;
    min-height: 4vw;
    min-width: 5vw;
    margin: 0;
    padding: 0;
}

.nav-link {
    color: #DE541E;
    text-align: center;
    padding: 0;
}

@media only screen and (max-width: 400px) {
    .nav-item {
        width: 33%;
    }
}
@media only screen and (min-width: 400px) {
    .nav-item {
        width: 25%;
    }
}
@media only screen and (min-width: 600px) {
    .nav-item {
        width: 20%;
    }
}
@media only screen and (min-width: 760px) {
    .nav-item {
        width: 15%;
    }
}
@media only screen and (min-width: 990px) {
    .nav-item {
        width: 9vw;
        margin: .5rem;
    }

    .navbar-nav{
        width: 100%;
        max-height: 12vh;
        z-index: 10000;
        position: sticky;
    }
}

.btn-outline-success {
    color: #87B04E;
    background: transparent none;
    border-color: #87B04E;
}

.menu-item-h3 {
    font-size: 1.3em;
}

/* ----------------------------- GENERAL PAGE ----------------------------*/
.container {
    height: auto;
    max-width: 65vw;
    min-width: 65vw;
    margin: 0 auto;
    position: relative;
}

/* --------------------------------- DETAIL PAGINA -----------------------*/
.container-detail {
    max-width: 35vw;
    height: auto;
    position: relative;
}

.container-detailbieden {
    max-width: 18vw;
    max-height: 100vh;
    margin: 0 0 0 auto;
}

/* -- CAROUSEL -- */

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}

.carousel img {
    max-width: 60vw;
    max-height: 60vh;
}

/* ------------------------------- OVERZICHT ---------------------------*/
.col-sm-img {
    max-height: 25vh;
    max-width: 25vw;
}

.col-sm {
    max-width: 15vw;
}

/*----------------------------------------- LOGO -------------------------*/
#logo-img {
    max-width: 160px;
    max-height: 70px;
}

/* ---------------------------------------- FOOTER -----------------------*/
footer > .container {
    background-color: #3F3F37;
    padding: 0 10vw;
    max-height: 15vh;
    max-width: 100%;
    bottom: 0;
}

h3#Foot {
    white-space: pre;
    font-size: 1.3em;
    color: #87B04E;
}

footer p {
    text-align: center;
    font-size: 0.8em;
    color: #87B04E;
}