* {
    margin: 0;
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'helvetica', monospace;
}

li {
    list-style: none;
}

h2 {
    color: #3F3F37;
}

a, a:hover {
    text-decoration: none;
    color: #3F3F37;
}

/* ---------------------------------- HEADER -----------------------------*/
header > .container {
    background-color: #3F3F37;
    padding: 0 10vw;
    max-height: 15vh;
    max-width: 100%;
}

.img-thumbnail {
    background-color: transparent;
    border-style: none;
    max-width: 15vw;
    max-height: 15vh;
    min-width: 12vw;
    min-height: 10vh;
}

.menu-item-img {
    max-width: 5vw;
    max-height: 4vh;
    min-height: 4vw;
    min-width: 5vw;
    margin: 0;
    padding: 0;
}

.nav-link {
    color: #DE541E;
    text-align: center;
    padding: 0;
}

.border {
    border-style: hidden;
}

.nav-link:hover {
    border: #3F3F37 1px;
}

@media only screen and (max-width: 400px) {
    .nav-item {
        width: 33%;
    }
}

@media only screen and (min-width: 400px) {
    .nav-item {
        width: 25%;
    }
}

@media only screen and (min-width: 600px) {
    .nav-item {
        width: 20%;
    }
}

@media only screen and (min-width: 760px) {
    .nav-item {
        width: 15%;
    }
}

@media only screen and (min-width: 990px) {
    .nav-item {
        width: 11%;
        margin: .5rem;
    }
}

@media only screen and (min-width: 1150px) {
    .nav-item {
        width: 9vw;
        margin: .5rem;
    }

    .navbar-nav {
        width: 100%;
        max-height: 12vh;
        z-index: 10000;
        margin-bottom: 2rem;
    }
}

.navbar-nav {
    display: flex;
    justify-content: center;
}

.nav-item {
    border-radius: 5px;
    border: 0.1rem solid transparent;
}

.nav-item:hover {
    border-radius: 5px;
    border: 0.1rem solid #3F3F37;

}

.current-item {
    border-radius: 5px;
    border: 0.1rem solid #3F3F37;

}

.btn-outline-success {
    color: #87B04E;
    background: transparent none;
    border-color: #87B04E;
}

.menu-item-h3 {
    font-size: 1.2rem;
}

/* ----------------------------- GENERAL PAGE ----------------------------*/
.container {
    height: auto;
    max-width: 100%;
    min-width: 100%;
    margin: 0 auto;
    position: relative;
}

.card-text {
    display: none;
}

@media only screen and (min-width: 990px) {
    .container {
        height: auto;
        max-width: 100vw;
        min-width: 100vw;
        margin: 0 auto;
        position: relative;
    }
}

@media only screen and (min-width: 800px) {
    .container {
        height: auto;
        max-width: 85vw;
        min-width: 85vw;
        margin: 0 auto;
        position: relative;
    }

    .card-text {
        display: inherit;
    }
}

/* --------------------------------- DETAIL PAGINA -----------------------*/
.container-detail {
    max-width: 35vw;
    height: auto;
    position: relative;
}

.container-detailbieden {
    max-width: 22vw;
    max-height: 100vh;
    margin: 20px 0 0 auto;
}

.container-detailbieden h4 {
    text-align: center;
    border: 1px solid;
    padding: 10px;
    background-color: #87B04C;
    color: #3F3F37;
}

.container-detailbieden table {
    border: 1px solid;
    margin: 10px 0 10px 0;
}

.container-detailbieden button {
    background-color: #98B06F;
    color: #3F3F37;
}

.container-detailbieden button:hover {
    background-color: #DE541E;
    color: white;
}

#meerbiedingenknop {
    width: 100%;
    background-color: #98B06F;
    color: #3F3F37;
}

#meerbiedingenknop:hover {
    background-color: #DE541E;
    color: white;
}

/* -- CAROUSEL -- */

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}

.carousel img {
    max-width: 55vh;
    max-height: 45vh;
    min-height: 45vh;
    min-width: 55vh;
    margin: 0 auto;
}

.carousel {
    max-width: 55vw;
    max-height: 45vh;
    min-height: 45vh;
    min-width: 55vw;
}

.w-100 {
    background-size: contain;
    background: no-repeat 50% 50%;
}

.carousel-control-prev, .carousel-control-next {
    background-color: #3F3F37;
}

/* ------------------------------- OVERZICHT ---------------------------*/
.col-sm-img {
    max-height: 25vh;
    max-width: 25vw;
}

.col-sm {
    max-width: 15vw;
}

p {
    text-decoration: none;
}

.carousel-caption {
    color: #3F3F37;
    background: #87B04E;
    height: 3vh;
    border-radius: 5px;
    position: relative;
    left: 0;
    padding-top: 10px;
    padding-bottom: 30px;
}

.container > main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 18rem;
    margin: 0.5rem;
}

main>.card:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.card-img-top {
    min-height: 20rem;
    max-height: 20rem;
    width: 100%;
}

/*----------------------------------------- LOGO -------------------------*/
#logo-img {
    max-width: 160px;
    max-height: 70px;
}

/* ---------------------------------------- FOOTER -----------------------*/

.generic-anchor, .generic-anchor:visited  {
    color: #87B04E;
}

.generic-anchor:hover {
    color: #DE541E;
    text-decoration: none;
}

.flex-rw {
    display: flex;
    flex-flow: row wrap;
}

footer {
    background: #3F3F37;
    margin-top: auto;
    width: 100%;
}

.footer-list-top {
    width: 33.333%;
}

.footer-list-top > li {
    text-align: center;
    padding-bottom: 10px;
}

.footer-list-header {
    padding: 10px 0 5px 0;
    color: #DE541E;
    font: 1.5rem "Oswald", sans-serif;
}

.footer-list-anchor {
    font: 1rem "Open Sans", sans-serif;
}


.footer-bottom-section {
    width: 100%;
    padding: 10px;
    border-top: 1px solid #DE541E;
    margin-top: 10px;
}

.footer-bottom-wrapper {
    font-size: 1rem;
    color: #DE541E;
    margin-left: auto;
    margin-right: auto;
}

#space {
    margin-right: 7rem;
}

@media only screen and (max-width: 768px) {
    .footer-list-header {
        font-size: 2em;
    }

    .footer-list-anchor {
        font-size: 1.1em;
    }

    .footer-bottom-wrapper {
        font-size: 1.3em;
    }
}

@media only screen and (max-width: 568px) {
    main {
        font-size: 5em;
    }

    .footer-list-top {
        width: 100%;
    }

    .footer-list-header {
        font-size: 3em;
    }

    .footer-list-anchor {
        font-size: 1.5em;
    }

    .footer-bottom-section {
        padding: 0 5px 10px 5px;
    }

    .footer-bottom-wrapper {
        text-align: center;
        width: 100%;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 480px) {

    .footer-bottom-rights {
        display: block;
    }
}

@media only screen and (max-width: 320px) {
    .footer-list-header {
        font-size: 2.2em;
    }

    .footer-list-anchor {
        font-size: 1.2em;
    }

    .footer-bottom-wrapper {
        font-size: 1.3em;
    }
}